# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=rels
MYSQL_USER=
MYSQL_PASSWORD=

# OAuth
DATAGSM_CLIENT_ID=
DATAGSM_CLIENT_SECRET=
DATAGSM_REDIRECT_URIS=http://localhost:3000/callback,http://localhost:3001/callback
